[Unit]
Description=Gunicorn instance to serve DELIVERY
Requires=postgresql-14.service
After=network.target postgresql-14.service

[Service]
Type=simple
User=delivery
Group=root
WorkingDirectory=/home/delivery/Delivery
#Environment="LD_LIBRARY_PATH=/home/pdd/instantclient_21_4"
ExecStart=/home/delivery/Delivery/venv/bin/gunicorn

[Install]
WantedBy=multi-user.target


