<!doctype html>
<html lang="ru" xmlns:align-items="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/static/styles/main.css">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<body>
    <div class = "common-container">
        <header>
            <div style="display: flex; justify-content: left; align-items: center">
                <div><h4 style="margin-left: 20px;align: left;">GOV4C</h4></div>
                <title>{% block title %}{% endblock %}</title>
                <div><h5 style="margin-left: 20px; color:green; align: left;">{{ res_value('APP_NAME') }}</h5></div>
{#                <div><h4 style="margin-left: 20px">{{ res_value('CONDITION') }}</h4></div>#}
            </div>
        </header>

        <section class="main-page">
            <div class="div_order">
                <form method="POST">
                    <div class="form-doc grid_box" >
                        <div>
{#                                <input class="input_order" type="text" name="num_order" width="12" maxlength="12" placeholder="Номер заказа" value="002226651471">#}
{#                                <input class="input_order" type="text"  name="iin" width="12" maxlength="12" placeholder="ИИН" value="811117450992">#}
{#                                <input class="input_order" type="text" name="num_order" width="12" maxlength="12" placeholder="Номер заказа" value="002223410244">#}
{#                                <input class="input_order" type="text"  name="iin" width="12" maxlength="12" placeholder="ИИН" value="691226402472">#}
{#                                <input class="input_order" type="text" name="num_order" width="12" maxlength="12" placeholder="Номер заказа" value="002226467809">#}
{#                                <input class="input_order" type="text"  name="iin" width="12" maxlength="12" placeholder="ИИН" value="901109451440">#}
                                <input class="input_order" type="text" name="num_order" width="12" maxlength="12" placeholder="Номер заказа">
                                <input class="input_order" type="text"  name="iin" width="12" maxlength="12" placeholder="ИИН">
                        </div>
                        <button class="button_continue" type="submit">{{ res_value('CONTINUE')  }}</button>
                    </div>
                </form>
            <div class="info">{{ info }}</div>
            </div>
        </section>

    </div>
</body>
</html>