<!doctype html>
<html lang="ru" xmlns:align-items="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" href="/static/styles/select-delivery.css">
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}{% endblock %}</title>
<body>
    <div class = "common-container">
        <header>
            <div style="display: flex; justify-content: left; align-items: center">
                <div><h4 style="margin-left: 20px;align: left;">GOV4C</h4></div>
                <div><h5 style="margin-left: 20px; color:green; align: left;">{{ res_value('APP_NAME') }}</h5></div>
{#                <div><h4 style="margin-left: 20px">{{ res_value('CONDITION') }}</h4></div>#}
            </div>
        </header>

        <section class="main-page">
{#            <div class="div_order">#}
            <div class="div_order grid_box">
                <a class="iin">ИИН: {{iin}}</a>
                <div></div>
{#                <div>#}
{#                </div>#}
{#                <div class="form-doc grid_box">#}
{#                    <div class="div_top">#}
{#                        <a class="button_delivery" href="/status_mykhat">myKHAT</a>#}
{#                    <div>#}
                        <a class="button_delivery a_button" href="/goto-mykhat">myKHAT</a>
{#                    </div>#}
{#                    <div>#}
                        <a class="button_delivery a_button" href="/goto-yandex">Yandex</a>
{#                    </div>#}
{#                    <div class="button_delivery">#}
{#                    </div>#}
{#                </div>#}
            </div>
        </section>

    </div>
</body>
</html>