@import url('common.css');

.form-doc input {
    align-items: center;
    /*font-weight: 400;*/
    line-height: 1.5;
    /*height: 45px;*/
    border: none;
    width: 130px;
    /*font-weight: 600;*/
    color: black;
    /*font-size: 28px;*/
    margin-top: 10px;
    background-color: transparent;
    border-bottom: 1px solid #ff0000;
}
.button_continue{
    background: #208855;
    color: white;
    width: 125px;
    border-radius: 16px;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
}
.button_continue:hover {
    background-color: #1c7b4d;
    color: #cccccc;
}
.info {
    color: black;
    margin: 20px 0px;
    font-weight: bold;
}


