@import url('clear.css');
@import url('common.css');

.grid_box{
    display: grid;
    min-width: 160px;
    grid-template-columns: repeat(auto-fill,minmax(140px, 1fr));
}
.div_top {
    margin-bottom: 20px;
    float: left;
}
.div_float {
    margin-top: 20px;
    float: left;
}
.div_block{
    display: block;
}
.div_flex{
    display: flex;
}
.iin {
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom: 1px solid #ff0000;
}
.button_delivery{
    background: #208855;
    width: 75px;
    color: white;
    border-radius: 16px;
    border: none;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center; /*Для выравнивания заголовка по центру*/
}
.button_delivery:hover {
    background-color: #1c7b4d;
    color: #cccccc;
}
.a_button {
    color: white;
    text-decoration: none;
}
.a_button:hover {
    text-align: center;
    color: white;
    text-decoration: underline;
}
div {
  justify-content: center;
  align-items: center; /*Для выравнивания заголовка по центру*/
}

